<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid50" />
  <package id="Square.OkHttp" version="2.4.0.1" targetFramework="MonoAndroid50" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="MonoAndroid50" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.1.1.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="22.2.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid50" />
</packages>